<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coconut DMS</title>
    <style>
        table, thead, th, tr, td {
            border: 1px black solid;
            border-collapse: collapse;
        }
        td, th {
            padding: 0.25em;
        }
    </style>
    {# We use HTMX to sprinkle in dynamic-ness - see https://htmx.org #}
    <script src="{{ url_for('static', filename='htmx.1.8.4.c45853c910caa58e6e7bcdacb132039b60cf867a.js') }}"></script>
</head>
<body>
    <h1>Coconut DMS</h1>
    See: <a href="https://gitlab.com/jaytuck/coconut-deadmanswitch">https://gitlab.com/jaytuck/coconut-deadmanswitch</a>
    
    <p>To create a monitor, send a GET/POST request to {{ url_for('update_monitor_endpoint', monitor_group='examplegroup', monitor_name='examplename', _external=True) }}</p>
    <p>A more advanced monitor: {{ url_for('update_monitor_endpoint', monitor_group='examplegroup', monitor_name='examplename', validtime=3600, success=False, message='cron job borked!', _external=True) }}</p>
    <p>Data can also be sent as JSON on the cli using curl:</p>
    <code>curl -X POST -H "Content-Type: application/json" --data '{"message":"died","success":false,"validtime":1800}' {{ url_for('update_monitor_endpoint', monitor_group='examplegroup', monitor_name='examplename', _external=True) }}</code>
    <p>Optional extra parameters can be added: 'validtime', 'success' and 'message'.
        These can either be sent as query parameters or in a JSON body - make sure to set the 
        header "Content-Type: application/json"
    </p>
    <form hx-get="{{ url_for('monitor_builder') }}" hx-target="#monitor_builder_result">
      Use this to get an example command to update the monitor:<br>
      <label for="groupname">Group Name</label>
      <input name="groupname" placeholder="groupa"/>
      <label for="monitorname">Monitor Name</label>
      <input name="monitorname" placeholder="run thing on the server"/>
      <label for="monitortime">Monitor Time Valid (Hours)</label>
      <input type="number" name="monitortime" placeholder="14"/>
      <label for="errormessage">Error Message</label>
      <input name="errormessage" placeholder="failure because bloop borked"/>
      <input type="submit" />
    </form>
    <pre id="monitor_builder_result"></pre>

    <p>Existing Monitors (<span style="background-color: salmon">red</span> indicates it's failed or out-of-date):</p>
    
    <button 
      {#- also trigger on refreshTable event - so that deleting a monitor will refresh table nicely
         see https://htmx.org/headers/hx-trigger/ #}
      hx-trigger="click, refreshTable from:body"
      hx-get="{{ url_for('monitor_table') }}" hx-target="#monitor_table" hx-swap="outerHTML">Refresh Table</button>
    {{ monitor_table|safe }}
    <button hx-get="{{ url_for('monitor_table') }}" hx-target="#monitor_table" hx-swap="outerHTML">Refresh Table</button>

    <h1>Usage Tips</h1>
    <p>Names with spaces and unusual characters can be urlencoded with python easily:</p>
    <code>~> python3<br>
Python 3.8.5 (default, Jul 28 2020, 12:59:40)<br>
[GCC 9.3.0] on linux<br>
Type "help", "copyright", "credits" or "license" for more information.<br>
>>> from urllib.parse import quote<br>
>>> quote('This is a monitor name!! 😀')<br>
'This%20is%20a%20monitor%20name%21%21%20%F0%9F%98%80'<br>
>>> ## Can now be curled like: /update/groupname/This%20is%20a%20monitor%20name%21%21%20%F0%9F%98%80<br>
    </code>

</body>
</html>
