    <table id="monitor_table">
        <thead>
            <th>Name</th>
            <th>Group</th>
            <th>Last Update</th>
            <th>ValidTime (seconds)</th>
            <th>Success Status</th>
            <th>Message</th>
            <th>Delete</th>
        </thead>
        {%- for row in existing_monitors %}
        <tr {% if failed_monitor(row) %}style="background-color: salmon"{% endif %}>
            <td>{{ row.name }}</td>
            <td><a href="{{ url_for('monitor_group', monitor_group=row.group) }}">{{ row.group }}</a></td>
            {% for cell in (row.lastupdate, row.validtime, row.success, row.message) %}
            <td>{{ cell }}</td>
            {% endfor %}
            <td><button hx-get="{{ url_for('delete_monitor_endpoint', monitor_group=row.group, monitor_name=row.name) }}">delete</button></td>
        </tr>
        {%- endfor %}
    </table>
